<%- include('./header.ejs')  %>
<div class="container-fluid " style="margin-top: 129px;">
    <div class="container shadow-lg" style="border-radius: 1rem 1rem 1rem 1rem;">
        <div class="row">
            <h1 class="mt-5 text-center" style="color:#386576;">
                <span style=" border-bottom: 2px solid #386576;">Do Contact!</span>
            </h1>
            <div class="col-sm-2"></div>
            <div class="col-sm-8 mt-1">
                <form action="/insertcontact" id="studentForm" method="post" class="text-center" novalidate="novalidate">
                    <input type="text" name="name" id="name" class="form-control mt-4" placeholder="Name">
                    <input type="email" name="email" id="email" class="form-control mt-4" placeholder="email">
                    <input type="number" name="phoneno" id="phoneno" class="form-control mt-4" placeholder="phoneno">
                    <textarea class="form-control mt-4" name="message" placeholder="Message"></textarea>
                    <button class="btn mt-4" style="background:#6696a0;; color: white; border:0; padding: 12px 26px;">Send
                        Message</button>
                </form>
                <br>
            </div>
            <div class="col-sm-2"></div>
        </div><!--row end-->
    </div><!--container end-->
</div>


<%- include('./footer.ejs')  %>
